.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
}

.footer__content {
  padding: 60px 80px 60px;
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  width: 105px;
  height: 39px;
}

.footer__social-heading {
  margin-top: 0;
  color: #eee;
}

.footer__list {
  color: #eee;
  list-style-type: none;
  padding: 0;
}

.footer__list-item {
  margin-top: 20px;
}

.footer__list-item:nth-of-type(2) {
  margin-top: 16px;
}

.footer__social-icon {
}

.footer__social-link {
  color: #eee;
  text-decoration: none;
}

.footer__social-link:hover {
  color: #c1c1c1;
}

.footer__copyright {
  margin: 0;
  color: #eee;
}
